<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ECE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47B9EE231FCB470C00E6EA9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47B9EE3D1FCB470C00E6EA9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47B9EE481FCB470C00E6EA9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
